.cont {
    background-color: var(--black);
    min-height: 300px;
    color: var(--white);
}

.subtitle {
    color: var(--yellow);
    margin-bottom: 0.3em;
}

.cont p {
    color: var(--white) !important;
}

.pillbtn {
    border: 1px solid var(--white);
    width: max-content;
    padding: 0.3em 1.3em;
    border-radius: var(--radius);
    cursor: pointer;
    color: var(--white) !important;
}

.card {
    min-height: 300px;
    position: relative;
    display: flex;
    margin: 0em 0.5em;
    overflow: hidden;
}

.carwrap {
    margin-left: -1em;
    margin-right: -1em;
}

.overlay {
    margin: auto;
    z-index: 1;
    color: var(--white);
}



.card img {
    transition: var(--transition);
}

.card .overlay {
    opacity: 0;
    transition: var(--transition);
}

.card:hover .overlay {
    opacity: 1;
    filter: brightness(1.42);
    transform: scale(calc(1 / 1.1));
}

.card:hover img {
    filter: brightness(0.7);
    transform: scale(1.1);
}

@media (max-width: 992px) {
    .card .overlay {
        opacity: 1;
        filter: brightness(1.42);
        transform: scale(calc(1 / 1.1));
    }

    .card img {
        filter: brightness(0.7);
        transform: scale(1.1);
    }
}


.overlay img {
    width: 56px !important;
}

.card {
    margin-bottom: 3em;
}

.indic {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: var(--light-gray);
    display: inline-block;
    margin: 0em 0.3em;
    cursor: pointer;
    transition: var(--transition);
}

.indic[data-shono="true"] {
    background-color: var(--yellow);
}

.indic:hover {
    transform: scale(1.1);
}