.parent {
    /* background-color: rebeccapurple; */
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1em;
    font-size: small;
}

.prevpage {
    border-radius: var(--radius) 0px 0px var(--radius);
    border: 1px solid var(--border-gray);
    border-right: none;
    padding: 0.7em 1em;
}

.nextpage {
    border-radius: 0px var(--radius) var(--radius) 0px;
    border: 1px solid var(--border-gray);
    padding: 0.7em 1em;
}



.pgnumber {
    padding: 0.7em 1em;
    border: 1px solid var(--border-gray);
    border-right: none;
}

.active {
    background-color: var(--yellow);   
}

.pageitem {
    white-space: nowrap;
}

.leftdis {
    opacity: 0.5;
    cursor: not-allowed;
    margin-left: auto;
}

.nallow {
    cursor: not-allowed;
}

.rightdis {
    opacity: 0.5;
    cursor: not-allowed;
    margin-right: auto;
}
