.bluelink {
    color: var(--blue);
    text-decoration: underline !important;
    font-weight: 600;
}

.graylink {
    text-decoration: underline !important;
}

.leftPaneDesktop {
    /* background-color: cyan; */
    width: 300px;
    margin-right: 2em;
}

.active {
    background-color: var(--yellow);
}

.inactive {
    background-color: var(--white);
}


.active_opt {
    background-color: var(--yellow);
    border-radius: var(--radius) var(--radius) 0px 0px !important;
}

.inactive_opt {
    background-color: var(--light-gray);

}


.rounded {
    border-radius: var(--radius);
    padding: 1em 1em;
    margin-bottom: 0.5em;
    cursor: pointer;
}

.leftcontent {
    transition: var(--transition);
}

.expand {
    max-height: 300px;
    overflow-y: auto;
}

.contract {
    max-height: 0;
    overflow-y: hidden;
    opacity: 0;
}

.subtext {
    color: var(--gray);
    font-weight: 400;
    width: max-content;
}


.line {
    /* position: absolute; */
    transform: translateY(12px);
    margin-left: 20px;
    flex-grow: 1;
    height: 2px;
    background-color: var(--light-gray);
}

.minline {
    height: 2px;
    width: 100%;
    background-color: var(--light-gray);
}

.fscheme {
    width: 100%;
}

.fschemelineparent {
    display: flex;
    position: relative;
}


.arrow_active {
    transform: rotate(0deg);
    transition: var(--transition);
}

.arrow_inactive {
    transform: rotate(180deg);
    transition: var(--transition);
}


.scheme_banner {
    background-color: var(--yellow);
    padding: 2em;
    padding-bottom: 10em;
    border-radius: var(--radius);
    z-index: 2;
}

.scheme_banner h1 {
    font-weight: 600;
}

.black_info {
    background-color: var(--black);
    display: flex;
    color: var(--light-gray);
    padding: 0.4em 0.7em;
    border-radius: 5px;
    margin-right: 12px;
    margin-bottom: 1em;
    /* text-transform: uppercase; */
}

.red_square {
    height: 8px;
    min-width: 8px;
    background-color: var(--red);
    margin-top: 4px;
    margin-right: 3px;
}

.red_text {
    color: var(--red);

    height: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Limit the number of lines */
    -webkit-box-orient: vertical;
    white-space: normal;
}

.blue_square {
    height: 8px;
    min-width: 8px;
    background-color: var(--blue);
    margin-top: 4px;
    margin-right: 3px;
}

.blue_text {
    color: var(--blue);

    height: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.scheme_content {
    background-color: var(--white);
    margin-left: 4em;
    margin-right: 4em;
    margin-top: -8em;
    z-index: 3;
    padding: 2.5em;
    position: relative;
    min-height: 12em;
    border-radius: var(--radius);
    overflow-wrap: break-word;
    
}



.side_child {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 1px solid var(--light-gray);
}

.side_child:last-child {
    border-bottom: none;
}


.noreswrap {
    min-height: 300px;
    display: flex;
    align-items: center;
    text-align: center;
}

.noreswrap>div {
    margin-left: auto;
    margin-right: auto;
}

.mobcat {
    background-color: rebeccapurple;
}

.sticktop {
    position: fixed;
    top: 64px;
    left: 0;
}

.freeflow {
    position: static;
}

.mobilecategory {
    background-color: var(--light);
}

.mainContent {
    flex: 0 0 70%;
}

.sideContent {
    flex: 0 0 30%;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 2em; */
    /* margin-left: 2.5em; */
}

.button {
    border: 1px solid black;
    padding: 0.4em 0.9em;
    background-color: white;
    border-radius: var(--radius);
    margin: 0.3125em;
    font-weight: 500;
    transition: var(--transition);
    width: auto;
}

.button:hover {
    background-color: var(--navy);
    color: white;
}

.textAfterButtons {
    color: var(--navy);
    font-size: 1.7em;
    font-weight: 600;
}

.ach_num {
    color: var(--navy);
    font-size: 0.7em;
    font-weight: 10;
}

.ach_info {}

.hero {
    padding-top: 5em;
}

.supertitle {
    text-transform: uppercase;
    background-color: var(--yellow);
    width: fit-content;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.4em;
    padding-bottom: 0.1em;
    color: var(--white);
}

.title {
    text-transform: uppercase;
    margin-top: 0.75em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
    /* max-width: 80%; */
}

.key {
    height: 30px;
    position: relative;
    margin-left: 1em;
    background-color: rgb(252, 252, 252);
    font-size: 15px;
    font-weight: 700;
    margin-right: 1em;
    color: var(--navy);
    padding-top: 0.5em;
    margin-bottom: 2em;
    margin-top: 2em;
    height: 40px;
    content: "";
    display: flex;
    align-items: center;
    text-transform: uppercase;
}



.key::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: var(--navy);
    margin-left: 0;
}

.key img {
    max-width: 2em;
    margin-left: 0.7em;
    padding-bottom: 0.7em;
}

.key h6 {

    margin-left: 0.8em;
    font-weight: 600;
    font-size: 16px;

}

.vl {
    height: 100px;
    width: 20px;
    border: 2px solid var(--black);
    ;
}

.bulletList {
    list-style-image: url('/Vector.svg');
    /* margin-bottom: 2em; */

}

.bulletList li {
    margin-bottom: 1em;
    /* font-weight: 500; */
    /* transform: translateY(20px); */
    /* font-size: 14px; */

}

.section {
    font-size: 0.9em;
}

.description {
    white-space: pre-line;
    /* font-size: 14px; */
    font-weight: 400;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    line-height: 200%;

}

.bullet {
    margin-left: 1.5em;
    margin-bottom: 1em;
}

.gray_sep_right {
    border-right: 2px solid var(--border-gray);
}

.new {
    /* margin-left: 2.5em; */
    /* margin-top: 1.5em; */
}

.new>div {
    padding-left: 1.5em;
}


.linksty a {
    color: #2E90FA !important;
    text-decoration: underline !important;
    font-size: 14px;
    font-weight: 500;
}

.linksty li {
    color: #2E90FA;
}

.ctabox {
    color: var(--gray);
    padding: 1.5em;
    border-radius: var(--radius);
    background-color: var(--light);
    border: 1px solid var(--border-gray);
}

.ctahead {
    font-size: 1.1em;
    font-weight: 500;
}

.bluebutton {
    text-align: center;
    text-transform: uppercase;
    background-color: var(--navy);
    padding: 0.5em;
    display: flex;
    border-radius: var(--radius);
}

.bluebutton > div {
    font-weight: 500;
    color: var(--almost-white) !important;
}

.mildhead {
    color: var(--gray);
    font-weight: 500 !important;
}

@media only screen and (max-width: 768px) {
    .scheme_content {
        margin-left: 1em;
        margin-right: 1em;
        padding: 1em 1em;
    }

    .gray_sep_right {
        border: none;
    }

    .key {
        margin-left: 0;
        margin-right: 0;
    }

    .bullet {
        margin-left: 0;
    }

    .new > div {
        margin-left: 0;
    }
}