.bluelink {
    color: var(--blue);
    text-decoration: underline;
    font-weight: 600;
}

.graylink {
    text-decoration: underline;
}

.leftPaneDesktop {
    /* background-color: cyan; */
    width: 300px;
    margin-right: 2em;
}

.active {
    background-color: var(--yellow);
}

.inactive {
    background-color: var(--light-gray);
}


.active_opt {
    background-color: var(--yellow);
    border-radius: var(--radius) var(--radius) 0px 0px !important;
}

.inactive_opt {
    background-color: var(--light-gray);

}


.rounded {
    border-radius: var(--radius);
    padding: 1em 1em;
    margin-bottom: 0.5em;
    cursor: pointer;
}

.leftcontent {
    transition: var(--transition);
}

.expand {
    max-height: 300px;
    overflow-y: auto;
}

.contract {
    max-height: 0;
    overflow-y: hidden;
    opacity: 0;
}

.subtext {
    color: var(--gray);
    font-weight: 400;
    width: max-content;
}

.line {
    /* position: absolute; */
    transform: translateY(12px);
    margin-left: 20px;
    flex-grow: 1;
    height: 2px;
    background-color: var(--light-gray);
}

.fscheme {
    width: 100%;
}

.fschemelineparent {
    display: flex;
    position: relative;
}


.arrow_active {
    transform: rotate(0deg);
    transition: var(--transition);
}

.arrow_inactive {
    transform: rotate(180deg);
    transition: var(--transition);
}


.scheme_banner {
    background-color: var(--yellow);
    padding: 2em;
    padding-bottom: 10em;
    border-radius: var(--radius);
    z-index: 2;
}

.scheme_banner h1 {
    font-weight: 600;
}

.black_info {
    background-color: var(--black);
    display: flex;
    color: var(--light-gray);
    padding: 0.4em 0.7em;
    border-radius: 5px;
    margin-right: 12px;
    margin-bottom: 1em;
    /* text-transform: uppercase; */
}

.red_square {
    height: 8px;
    min-width: 8px;
    background-color: var(--red);
    margin-top: 4px;
    margin-right: 3px;
}

.red_text {
    color: var(--red);

    height: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit the number of lines */
    -webkit-box-orient: vertical;
    white-space: normal;
}

.blue_square {
    height: 8px;
    min-width: 8px;
    background-color: var(--blue);
    margin-top: 4px;
}

.blue_text {
    color: var(--blue);
}

.scheme_content {
    background-color: var(--almost-white);
    margin-left: 4em;
    margin-right: 4em;
    margin-top: -8em;
    z-index: 3;
    position: relative;
    min-height: 12em;
    border-radius: var(--radius);
    display: flex;

}

@media only screen and (max-width: 768px) {
    .scheme_content {
      background-color: lightblue;
      margin-left: 1em;
    margin-right: 1em;
    }
  }
  .scheme_content {
    display: flex;
}

.mainContent {
    flex: 0 0 70%;

    /* flex-grow: 0; flex-shrink: 0; flex-basis: 60%; */
}

.sideContent {
    flex: 0 0 30%;
    /* flex-grow: 0; flex-shrink: 0; flex-basis: 40%; */
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 40px;
}

.button {
    border: 1px solid black;
    padding: 8px 15px; /* Adjust padding as needed */
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    font-weight: 600; 
    width: auto; /* Allow the button to adjust its width based on content */
}
.button:hover {
    background-color: navy; /* Change background color to blue on hover */
    color: white;
}
.textAfterButtons {
    color: navy; /* Set text color */
    font-size: 20px; /* Set font size */
    margin-top: 10px;
    font-weight: bold; /* Add some margin from the button area */
}
.ach_num {
    color: var(--navy);
    font-size: 0.7em;
    font-weight: 10;
  }
  
  .ach_info {
  
  }
  .hero {
    padding-top: 5em;
  }
  
  .supertitle {
    text-transform: uppercase;
    background-color: var(--yellow);
    width: fit-content;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.4em;
    padding-bottom: 0.1em;
    color: var(--white);
  }
  
  .title {
    text-transform: uppercase;
    margin-top: 0.75em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
    /* max-width: 80%; */
  }
 .key{
    height:30px;
    position: relative;
    margin-left: 3em;
    background-color: rgb(249, 248, 248);
    font-size: 15px;
    font-weight: 800;
    color: rgb(47, 47, 119);
    padding-top: 0.5em; /* Adjust the top margin as needed */
    margin-bottom: 2em;
    height: 40px;  
    content: "";
    display: flex;
    align-items: center;

 }

  .key::before {
    content: ''; /* Create a pseudo-element */
    position: absolute; /* Position it relative to the parent */
    top: 0; /* Align it to the top of the parent */
    left: 0; /* Align it to the left side of the parent */
    width: 2px; /* Width of the vertical line */
    height: 100%; /* Height of the vertical line */
    background-color:  rgb(47, 47, 119); /* Color of the vertical line */
    margin-left: 0; /* Remove default margin */
}
.key img {
    max-width: 2em;
    margin-left: 0.7em;
    padding-bottom: 0.7em; /* Adjust the width of the image */
  }
  
  .key h6 {
 
    margin-left: 0.8em; /* Adjust as needed */
    
  }
 .vl {
    height:100px;
    width: 20px;
    border: 2px solid black;
  }
  
  .bulletList {
    list-style-image: url('/Vector.svg');
    margin-bottom: 5em;
  }
  .bulletList li {
    margin-bottom: 3em;
  }
  .description {
    white-space: pre-line;
    font-size: 200;

  }
  .bullet{
    margin-left:3.5em;

    margin-bottom: 5em;

  }