.yellowbg {
    /* min-height: 650px; */

    /* linear gradient to right, yellow is 60% rest black */
    background: linear-gradient(to right, var(--yellow) 70%, var(--black) 40%);
    /* background-color: var(--yellow); */
    position: relative;
}

.toprightdots {
    position: absolute;
    background-image: url("/yellodots.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 240px;
    height: 240px;
    right: 1em;
    top: 2em;
    z-index: 0;
    opacity: 0.6;
}

.closeflex {
    margin-right: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 0 !important;
    display: flex;
    min-height: 450px;
}

.botleftdots {
    position: absolute;
    background-image: url("/yellodots.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    width: 240px;
    height: 240px;
    left: 1em;
    bottom: 2em;
    opacity: 0.3;
}

.blackstuff {
    background-color: var(--black);
    position: relative;
    color: var(--white);
    z-index: 1;
}


.blackstuff::before {
    position: absolute;
    content: "";
    height: 100%;
    width: calc(100% + 100vw);
    left: -100vw;
    top: 0;
    position: absolute;
    background-image: url("/goldencircle.svg");
    background-color: var(--black);
    z-index: -1;
}

.blackmobile {
    background-color: var(--black);
    background-image: url("/goldencircle.svg");
}

.mobilebg {
    min-height: 450px;
    background-color: var(--black);
}

.supertitle {
    background-color: var(--black);
    color: var(--white);
    text-transform: uppercase;
    padding: 0.3em 0.6em;
    width: fit-content;
    margin-bottom: 0.2em;
}

.title {
    text-transform: uppercase;
    max-width: 500px;
    position: relative;
    margin-left: 0.5em;
}

.title::before {
    content: "";
    position: absolute;
    width: 0.2em;
    height: 100%;
    left: -0.5em;
    background-color: var(--white);
}

.photoholder {
    background-color: rebeccapurple;
    min-height: 650px;
    position: relative;
}


.nobottom {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
}

/* full yellow bg for less than md screens */
@media (max-width: 768px) {
    .yellowbg {
        background: var(--yellow);
    }
}


.blackstuffcontent {
    padding: 1em 0;
    position: relative;
}

.blackstuffcontent h2 {
    color: var(--yellow);
    text-wrap: nowrap;
    margin-bottom: 0.1em;
    padding-left: 14px;
}

.blackstuffcontent p {
    color: var(--white) !important;
    margin-bottom: 0;
    padding-left: 14px;
    text-wrap: nowrap;
}

.blackstuffcontent::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 40%;
    opacity: 30%;
    left: 0;
    top: calc(50% - 20%);
    background-color: var(--white);
}