.categoriesSection {
  display: flex;
  position: relative;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 4em 4em;
  margin: 0 !important;
}

.heading {
  font-size: 1.25em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 12px;
}

.heading::before {
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
}

.description {
  max-width: 540px;
  line-height: 1.6;
}

.categoriesContainer {
  background-color: red;
}

@media (max-width: 1024px) {
  .header {
    padding: 2rem 1rem;
    margin-bottom: 0;
    flex-direction: column;
    gap: 2em;
  }
  .description {
    max-width: 100%;
  }
}
