
.faq-section {
    border-radius: var(--small-radius);
    border: 1px solid var(--light-gray);
    margin-bottom: 0.625em;
    padding: 1.5em;
    background-color: var(--white);
    position: relative;
    font-weight: 600;
    display: block;
    
}

.toggle-button {
    position: absolute;
    top: 1em;
    right: 0.625em;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    border: 1px solid var(--border-gray);
    margin-right: 0.5em;
    border-radius: var(--small-radius);
}

.plus-sign,
.minus-sign {
    color: black;
    font-weight: bold;
    margin: auto;
}

.question {
    cursor: pointer;
   
}

.answer {
    margin-top: 1em;
    font-weight: 400;
    margin-right: 3.5em;
    font-size: 0.85em;
}



.toggle-button.hovered {
    background-color: var(--light-gray); 
}

.toggle-button.clicked {
    background-color: var(--yellow); 
}

