.whitebox {
    min-height: 300px;
    border: 1px solid var(--border-gray);
    background-color: var(--white);
    border-radius: var(--radius);
    padding: 0.8em;
    height: 100%;
    display: flex;
    flex-direction: column  ;
    /* box-shadow: var(--smudge); */
}

.logocontainer {
    position: relative;
    width: 100%;
    height: 150px;
}

.thin {
    font-weight: 400 !important;
    font-size: large;
    margin-bottom: 0;
}


.promoperson {
    transform: translateY(-1px);
}

.smalltext {
    font-size: small;
}

.morebutton {
    border-radius: var(--small-radius);
    border: 1px solid var(--border-gray);
    width: max-content;
    padding: 0.7em 1.3em;
    cursor: pointer;
}