.tabsSection {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.tabsTriggerRow {
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tabButton {
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
  padding: 0.25rem;
  color: gray;
}

.tabButton.activeTab {
  color: var(--navy);
}

.tabButton.activeTab::after {
  content: "";
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: var(--navy);
}

.triggerText {
  margin-bottom: 0 !important;
}

.tabsContentContainer {
  margin-top: auto;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.orgContactCard {
  background-color: var(--gray-bg);
  min-height: 250px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.orgCol {
  padding: 1rem;
  margin: 0 !important;
}

.orgCardItem {
  display: flex;
  margin-top: 1rem;
  margin-left: 0.5rem;
  max-width: 400px;
}

.orgCardItem p {
  margin-left: 1rem;
}

.orgMail {
  margin-top: 1rem;
  width: fit-content;
}

.orgWeb {
  margin-top: 1rem;
  display: inline-flex;
  color: var(--navy);
}

.orgWeb p {
  margin-right: 0.5rem;
  color: var(--navy) !important;
}

.orgMapCol {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 250px;
}

.gmContactContainer {
  padding: 1rem;
}

.gmCol {
  margin-bottom: 1rem !important;
}

.accWrapper {
  background-color: var(--gray-bg);
  padding: 1rem;
}

.accTrigger {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.accContentWrapper {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.accContentWrapper.accActive {
  height: 420px;
}

.accContent {
  padding: 1rem;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  flex-direction: column;
  gap: 2rem;
  color: black;
}

.accItem {
  display: flex;
  max-width: 400px;
  gap: 1rem;
}

.gmAnchor {
  color: var(--navy);
  font-size: 16px !important;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .tabsSection {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .tabsTriggerCol {
    margin-bottom: 1rem;
  }
  .tabsTriggerRow > .tabsTriggerCol:last-child {
    margin-bottom: 0 !important;
  }

  .tabsContentContainer {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .gmContactContainer {
    padding: 0rem;
  }

  .accWrapper {
    padding: 0.5rem;
  }

  .accContentWrapper.accActive {
    height: 440px;
  }
}
