.recoSection {
  height: calc(100svh);
}

.recoContainer {
  height: 100%;
}

.recoRow {
  height: 100%;
}

.leftBlock {
  padding-top: 1.5rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  overflow: hidden;
}

.logo {
  margin-bottom: 1.75rem;
}

.title {
  color: black;
}

.leftBlockThemes {
  flex: 1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  overflow-y: auto;
}

.themesList {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.themeItem {
  margin-top: 1rem;
  color: var(--navy);
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.themeName {
  margin-bottom: 0 !important;
}

.arrow {
  margin-left: 0.5rem;
}

.themeItem:hover {
  color: var(--yellow);
}

.rightBlock {
  padding: 1rem;
  height: 100%;
  background-color: #f0e175;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 0 !important;
}

.higlightsContainer {
  color: #012e5a;
}

.hightlightsTitle {
  margin-bottom: 1rem;
  color: var(--navy);
}

.brandLogo {
  display: flex;
  justify-content: end;
  width: 100%;
  position: relative;
}

.logoImage {
  object-fit: cover;
}

@media (min-width: 768px) {
  .leftBlock {
    padding-top: 4rem;
    padding-left: 4rem;
    gap: 2rem;
  }

  .leftBlockThemes {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .rightBlock {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 8rem;
    padding-bottom: 4rem;
  }

  .hightlightsTitle {
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .recoSection {
    height: auto;
  }
  .recoRow {
    height: auto;
  }

  .leftBlock,
  .rightBlock {
    height: auto;
  }

  .themeItem {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(1, 46, 90, 0.2);
  }

  .brandLogo {
    display: none;
  }

  .arrow {
    display: none;
  }
}
