.wrapper {
  background-color: var(--paleyellow);
  border-radius: var(--small-radius);
  overflow: hidden;
  padding: 4rem 0rem;
}

.schemesRow {
  margin-top: 2rem;
  padding: 0rem 1.5rem;
}

.secDesc {
  margin-bottom: 0 !important;
  max-width: 75ch;
  display: block;
}

.card {
  overflow: hidden;
  width: 100%;
  min-height: 320px;
  padding: 1rem;
  aspect-ratio: 1.25/1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: var(--almost-white);
  border-radius: var(--small-radius);
  position: relative;
  z-index: 0;
}

.iconWrapper {
  margin-top: 1rem;
  margin-left: 0rem;
}

.icon {
  height: 75px;
  width: 75px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--palestyellow);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.card::before {
  content: "";
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 75px;
  height: 75px;
  background-color: var(--palestyellow);
  border-radius: 50%;
  transform: scale(1);
  transition: transform 0.6s ease;
  z-index: -1;
}

.card:hover::before {
  transform: scale(15);
}

.schemeCol {
  margin-bottom: 0 !important;
}

.title {
  height: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-weight: 500;
  font-size: 20px;
  z-index: 1;
  color: black;
  transform: color 0.8s ease;
}

.card:hover .title {
  color: var(--navy);
}

.description {
  height: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  white-space: normal;
  color: var(--gray);
  margin-top: 0.5rem;
  z-index: 1;
}

.arrow {
  display: flex;
  justify-content: flex-end;
  color: var(--navy);
  transition:
    transform 0.2s ease,
    scale 0.2s ease,
    opacity 0.2s ease;
}

.card:hover .arrow {
  animation: linkPulse 2s ease infinite;
}

@media (max-width: 768px) {
  .schemesRow {
    padding: 0rem 1rem;
  }
  .schemeCol {
    margin-bottom: 1rem !important;
  }
}

@keyframes linkPulse {
  0% {
    transform: translateX(0);
    opacity: 1;
    scale: 1;
  }
  20% {
    transform: translateX(2px);
    opacity: 0.8;
    scale: 1.05;
  }

  60% {
    transform: translateX(0);
    opacity: 1;
    scale: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    scale: 1;
  }
}
