.semiyellow {
    background: linear-gradient(to top, var(--yellow) 30%, transparent 30%);
}

.imgclass {
    width: 100%;
    height: 360px;
    padding-right: 1em;
    padding-bottom: 3em;
}

@media (min-width: 1024px) {
    .imgclass {
        max-width: 360px;
    }
}

.imgwrap {
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    overflow: hidden;
    position: relative;
}

.indic {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: var(--light-gray);
    display: inline-block;
    margin: 0em 0.3em;
    cursor: pointer;
    transition: var(--transition);
}

.indic[data-shono="true"] {
    background-color: var(--black);
}

.indic:hover {
    transform: scale(1.1);
}