.semiyellow {
    background: linear-gradient(to top, var(--yellow) 30%, transparent 30%);
}

.imgclass {
    width: 100%;
    height: 360px;
    padding-right: 1em;
}

@media (min-width: 1024px) {
    .imgclass {
        max-width: 360px;
    }
}

.imgwrap {
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    overflow: hidden;
    position: relative;
    background-color: rebeccapurple;
}

