.hero {
  padding-top: 5em;
}

.supertitle {
  text-transform: uppercase;
  background-color: var(--yellow);
  width: fit-content;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.4em;
  padding-bottom: 0.1em;
  color: var(--white);
}

.title {
  text-transform: uppercase;
  margin-top: 0.75em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
  /* max-width: 80%; */
}

.title::before {
  content: "";
  background-color: var(--yellow);
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: 0;
}

.subtitle {
  margin-top: 0.6em;
}

.ach_num {
  color: var(--blue);
  font-size: 2em;
  font-weight: 600;
}

.ach_info {

}

.dotted_section {
  margin-top: 5em;
  padding-top: 3em;
  padding-bottom: 3em;
  background: var(--light-accent);
  background-image: radial-gradient(#47546722 1px, transparent 0);
  background-size: var(--grid-sep) var(--grid-sep);
  /* background-position: 19px -19px; */
}

.flowchart_header_text {
  width: fit-content;
}

.flowchart_arrow {
  width: fit-content;
  margin-left: auto;
}

.flowchart {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
}

.section3supertitle {
  color: var(--gray);
  font-weight: 400;
}
