.map {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.mapPlaceholder {
  height: 100%;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
}
