.container {
    position: relative;
    height: 360px;
    width: 100%;
}

@media (max-width: 1200px) {
    .container {
        height: 300px;
    }
}

@media (max-width: 992px) {
    .container {
        height: 250px;
    }
}

@media (max-width: 768px) {
    .container {
        height: 200px;
    }
}

@media (max-width: 576px) {
    .container {
        height: 150px;
    }
}

@media (max-width: 400px) {
    .container {
        height: 120px;
    }
}

@media (max-width: 320px) {
    .container {
        height: 100px;
    }
}