.card {
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: var(--small-radius);
    display: flex;
    flex-direction: column-reverse;
    padding: 1em;
}

.textbox {
    background-color: rgba(0,0,0,0.8);
    padding: 1em;
    color: var(--white) !important;
    backdrop-filter: blur(10px);
    border-radius: var(--small-radius);
}

.smalltext {
    color: var(--white) !important;
    font-size: small;
}

.card img {
    transition: var(--transition);
}

.card:hover img {
    transform: scale(1.1);
}