.card {
    position: relative;
    height: 600px;
    border-radius: var(--small-radius);
    overflow: hidden;
    display: flex;
}

@media (max-width: 768px) {
    .card {
        height: 400px;
    }
}


.imgholder {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.actualcard {
    z-index: 1;
    position: relative;
    margin: auto;
    height: 80%;
    width: 80%;
    background-color: var(--white);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
    clip-path: polygon(0% 0%, 0% 100%, 15px 100%, 15px 15px, calc(100% - 15px) 15px, calc(100% - 15px) calc(100% - 120px), 15px calc(100% - 120px), 15px 100%, 100% 100%, 100% 0%);
}

.content {
    height: 120px;
    width: 100%;
    padding: 1em;
}

.date {
    font-size: small;
    text-wrap: nowrap;
    border: 1px solid var(--border-gray);
    padding: 0.5em 1em;
    border-radius: var(--radius);
}

.para {
    font-size: small;
    display: -webkit-box;
    /* Required for line clamping */
    -webkit-box-orient: vertical;
    /* Sets orientation to vertical */
    -webkit-line-clamp: 3;
    /* Limits to 3 lines */
    overflow: hidden;
    /* Hides overflow content */
    text-overflow: ellipsis;
    /* Adds the "..." */
}


/* /////// */

.arrwrap {
    /* background-color: rebeccapurple; */
    width: max-content;
    position: absolute;
    z-index: 2;
    top: 50%;
    padding: 1.3em;
    cursor: pointer;
    transform: translateY(-50%);
}

.cararrow img {
    filter: invert();
}

.arrwrapright {
    /* background-color: rebeccapurple; */
    width: max-content;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0%;
    padding: 1.3em;
    cursor: pointer;
    transform: translateY(-50%);
}

@media (max-width: 1024px) {

    .arrwrap,
    .arrwrapright {
        opacity: 0;
    }

    .nowrapheader {
        white-space: normal;
    }

    .indic {
        transform: translateY(10px);
    }
}


.cararrow {
    border: 1px solid var(--white);
    position: relative;
    width: 40px;
    height: 40px;
    /* width: max-content; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.cararrow[data-shono="true"]:hover {
    transform: scale(1.06);
}


.cararrow[data-shono="true"]:active {
    transform: scale(0.8);
}


.cararrow[data-shono="false"] {
    opacity: 0.0;
    /* filter: brightness(1.3); */
}

.rightside {
    transform: rotate(180deg);
}