.logo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.maathapithakkal {
    filter: url('#goo');
}

.carouselwrap {
    position: relative;
    width: 100%;
    height: 256px;
    clip-path: polygon(0 0, 0 100%, 34% 100%, 38% 80%, 62% 80%, 66% 100%, 100% 100%, 100% 0%);
}

@media screen and (max-width: 768px) {
    .carouselwrap {
        clip-path: polygon(0 0, 0 100%, 30% 100%, 34% 80%, 66% 80%, 70% 100%, 100% 100%, 100% 0%);
    }
    
}

.indicator {
    background-color: var(--yellow);
    height: 40px;
    border-radius: 20px;
    padding: 6px;
    width: 24%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    z-index: 2;
}

.leftbutton {
    width: calc(40px - 12px);
    height: calc(40px - 12px);
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    cursor: pointer;
    flex-shrink: 0;
}

.rightbutton {
    width: calc(40px - 12px);
    height: calc(40px - 12px);
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    flex-shrink: 0;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: var(--white);
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
}

@media (max-width: 768px) {
    .indicator {
        width: 28%;
    }

    .dot {
        height: 4px;
        width: 4px;
        margin-left: 2px;
        margin-right: 2px;
    }
}

.dot[data-shono="true"] {
    background-color: var(--black);
}