.timelineRow {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.timeline > :first-child {
  border-top: 1px solid var(--border-gray);
}

.timeline .timelineCol {
  margin-bottom: 0 !important;
}

.timelineItem {
  position: relative;
  border-bottom: 1px solid var(--border-gray);
}

.timelineTrigger {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.timelineTrigger:hover {
  background-color: var(--light-gray);
}

.timelineTrigger.open:hover {
  background-color: var(--light-gray);
}

.timelineStep {
  height: 2rem;
  width: 2rem;
  background-color: var(--navy);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timelineHeader {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.timelineTitle {
  margin-bottom: 0 !important;
  color: var(--navy);
  transition: color 0.3s ease;
}

.timelineTitle.open {
  color: black;
}

.timelineIcon {
  color: var(--navy);
  transition: transform 0.3s ease;
}

.timelineIcon.open {
  transform: rotate(180deg);
}

.timelineContent {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.timelineContentInner {
  padding-bottom: 1.5rem;
  padding-left: 3rem;
}

.ctaLink {
  display: inline-flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease;
  color: var(--navy) !important;
}

.ctaLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--navy);
  transform: scaleX(0.4);
  transform-origin: left;
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.ctaLink:hover::after,
.ctaLink:focus::after {
  transform: scaleX(1);
}

.ctaText {
  display: inline-block;
  transition: transform 0.3s ease;
}

.ctaIcon {
  display: inline-block;
  margin-left: 0.5rem;
  transform: translateX(0);
  opacity: 0.7;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.ctaLink:hover .ctaText,
.ctaLink:focus .ctaText {
  transform: translateX(-3px);
}

.ctaLink:hover .ctaIcon,
.ctaLink:focus .ctaIcon {
  transform: translateX(3px);
  opacity: 1;
}

@media (max-width: 768px) {
  .timelineHeader {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
